img {
    width: 21%;
    height: 40%;
    margin-left: 36%;
}

*{
    color: white;
    
}

h3{
    text-align: left;
}

body{
    background-color: black;
}

#h_1 {
    width: 58px;
    margin-left: 47%;
}